/SRC/ERI/build/
/SRC/ERI/dist/
#  Old names : typo no "y" in crunchy.
## /SRC/CrunchNoodlesCommon/nbproject/private/
/SRC/CrunchNoodlesCommon/build/
/SRC/CrunchNoodlesCommon/dist/

#  NetBeans support stuff.
build/*
dist/*

*.bak
*~
*.zip
#  Correct folder names with "y" in crunchy.
## /SRC/CrunchyNoodlesCommon/nbproject/private/
/SRC/CrunchyNoodlesCommon/dist/
/SRC/CrunchyNoodlesCommon/build/
