/SRC/ERI/build/
/SRC/ERI/dist/
/SRC/ERI/nbproject/private/

#  Old names : typo no "y" in crunchy.
## /SRC/CrunchNoodlesCommon/nbproject/private/
/SRC/CrunchyNoodlesCommon/build/
/SRC/CrunchyNoodlesCommon/dist/
/SRC/CrunchyNoodlesCommon/nbproject/private/

#  NetBeans support stuff.


*.bak
*~
*.zip

